@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --default-font: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.default-text {
  font-family: var(--default-font);
}

.medium-font {
  font-size: 1.5rem;
}